<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>bilibili-download</title>
  <script src="../lib/vue.js"></script>
  <link rel="stylesheet" href="../lib/styles/iview.css">
  <script src="../lib/iview.min.js"></script>
  <link rel="stylesheet" href="../components/css/index.css">
</head>
<body>
  <div id="app">
    <div id="app-bg">
      <m-search></m-search>
    </div>
  </div>
  <script src="../render/index.js"></script>
</body>
</html>