<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录</title>
  <link rel="stylesheet" href="./css/login.css">
</head>
<body>
  <div id="login">
    <div id="welcome-txt">欢迎使用bilibili下载器</div>
    <div id="qrcode"></div>
    <div id="background-image">
      <div id="message">
        <p class="status-txt">扫描二维码登录</p>
        <p class="suc-txt">
          请使用
          <span class="a-link">哔哩哔哩客户端</span><br>
          扫码登录<br>
          或扫码下载APP
        </p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../lib/qrcode.min.js"></script>
  <script type="text/javascript" src="../render/login.js"></script>
</body>
</html>